// EXTEND OPTIONSVG
%optionSvg {
  opacity: 1;
  right: 0;
  transform: translateY(-50%) scale(1);
}

// ADMIN
.admin {
  // ASIDE
  &__aside {
    // ICON
    &__item__icon {
      margin-left: 0.5rem;

      // SVG
      svg {
        @include svgManger(2.2rem, 2.2rem, $fill: map-get($background, back-second));
      }
    }
  }

  // HEADER
  &__header {
    // ICON
    &__user__icon {
      // SVG
      svg {
        @include svgManger(25px, 25px, $fill: lighten(black, 40%));
      }
    }

    // USER OPTIONS
    &__user__options {
      // SVG
      svg {
        @include svgManger(25px, 25px, $fill: map-get($color, color-third)) {
          margin-right: 20px;
        }
      }
    }
  }

  // OPTIONS CENTER
  &__options__center {
    // FULL SCREEN
    &__fullscreen {
      // SVG
      svg {
        @include svgManger(30px, 30px, $fill: map-get($background, back-second));
      }
    }
  }

  // REGISTER
  &__register {
    // LOGO
    &__logo {
      // SVG
      svg {
        @include svgManger(20rem, 20rem, $fill: map-get($background, back-second));
      }
    }
  }
}

// FORM
.form {
  // PASSWORD
  &__password {
    // ICON
    &__icon {
      // SVG
      svg {
        @include svgManger(30px, 30px, $fill: black) {
          position: absolute;
          @include translate('top', 'right', 50%, 4%);
          padding: 3px;
          cursor: pointer;
        }
      }
    }
  }
}

// BUTTON CONFIRM CHECK
.button__confirm__check {
  // SVG
  svg {
    @include svgManger(100%, 60%, $fill: map-get($background, back-second)) {
      position: absolute;
      @include translate('top', 'right', 50%, -100%);
      padding: 3px;
    }
    opacity: 0;
    transform: translateY(-50%) scale(0);
    transition: all 0.5s ease;
  }

  // CORRECT AND ERROR
  &--correct {
    [class$='__correct'] {
      // SVG
      svg {
        @extend %optionSvg;
      }
    }
  }

  //
  &--wrong {
    [class$='__wrong'] {
      // SVG
      svg {
        @extend %optionSvg;
      }
    }
  }
}

// PROFILE SETTING
.profile-setting {
  &__header {
    // SVG
    svg {
      @include svgManger(5rem, 5rem, $fill: map-get($background, back-eighth)) {
        transform: rotate(-90deg);
        transition: all 0.5s ease;
        cursor: pointer;
      }

      &:hover {
        transform: translateX(-1rem) rotate(-90deg);
      }
    }
  }
}

// HOME PAGE
.home-page {
  // CARD OVERVIEW
  &__card-overview__icon {
    // SVG
    svg {
      @include svgManger(6rem, 6rem, $fill: map-get($background, back-second));
    }
  }
}

// NORMAL BTN
.normal-btn {
  svg {
    @include svgManger(2rem, 2rem, $fill: map-get($background, back-second)) {
      margin-left: 1rem;
    }
  }
}

// MODEL POP UP
.model-pop-up {
  //
  &__exit {
    svg {
      @include svgManger(3rem, 3rem, $fill: map-get($background, back-first));
    }
  }
}

// CUSTOM SELECT
.custom-select {
  //
  &__icon {
    svg {
      @include svgManger(2rem, 2rem, $fill: black);
    }
  }
}

// CARD VIEW AND TAVLE INFO
.card-view {
  svg {
    @include svgManger(2rem, 2rem, $fill: map-get($background, back-second));
  }
}
// TABLE INFO
.table-info {
  svg {
    @include svgManger(2rem, 2rem, $fill: black) {
      cursor: pointer;
    }
  }
}
// END USER
