// ADMIN
.admin {
  // ASIDE
  &__aside {
    // ICON
    &__item__icon {
      margin-left: 0.5rem;

      // SVG
      svg {
        @include svgManger(
          2rem,
          2rem,
          $fill: map-get($background, back-second)
        );
      }
    }
  }

  // HEADER
  &__header {
    // ICON
    &__user__icon {
      // SVG
      svg {
        @include svgManger(25px, 25px, $fill: lighten(black, 40%));
      }
    }

    // USER OPTIONS
    &__user__options {
      // SVG
      svg {
        @include svgManger(25px, 25px, $fill: map-get($color, color-third)) {
          margin-right: 20px;
        }
      }
    }
  }
}

// END USER
