//////////////////////////////
// BACKGROUND COLOR
$background: (
    back-first: #0064ff,
    back-second: #f5f6fa,
);

//////////////////////////////
// COLOR
$color: (
    color-first: #fff,
    color-second: #0064ff,
)