// GRID PRODUCTS AND CATEGORY
%gridPageItem {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 200px;

  // RESPONSIVE
  @include respond(tablet-p) {
    grid-template-columns: repeat(2, minmax(15vw, 1fr));
  }
}

// ADMIN
.admin {
  display: grid;

  // MANGER GRID SYSTEM
  grid-template-rows: [start-global-row start-header] 8rem [end-header start-content] calc(100vh - 8rem) [end-content end-global-row];
  grid-template-columns:
    [start-global-column start-aside] 25rem [end-aside start-content start-header] minmax(20rem, 1fr)
    [end-content end-header end-global-column];

  // CLASS MODIFIRE ACTIVE
  &--active {
    grid-template-columns: [start-global-column start-aside] 5rem [end-aside start-content start-header] 1fr [end-content end-header end-global-column];
  }

  // CONTENT
  &__content {
    grid-area: start-content / start-content / end-content / end-content;
  }

  // HOME PAGE
  .home-page {
    display: grid;
    grid-template-rows: [start-card] 15rem [end-card start-chart] 1fr [end-chart];
    grid-template-columns: [start-card] 50% [end-card start-all] 1fr [end-all];

    // RESPONSIVE
    @include respond(1000px) {
      grid-template-columns: [start-card] 35% [end-card start-all] 1fr [end-all];
    }
  }

  // CATEGORY PAGE ALL CATEGORY
  .category-page__all-category {
    display: grid;
    grid-template-rows: 90px;
    grid-template-columns: repeat(4, minmax(15vw, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 90px;

    // RESPONSIVE
    @include respond(tablet-l) {
      grid-template-columns: repeat(3, minmax(15vw, 1fr));
    }
  }
}

.page-not-found {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
